{
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "none",
        "proseWrap": "always"
      }
    }
  ]
}
