@use '../abstracts/colors' as *;
.site-footer {
    border: none;
    padding: 15px 0px;
    // styles link titles of links e.g. Uriah Schreur
    .social-media-list {
        li {
            text-wrap: nowrap;
            padding-top: 10px;
            .username {
                text-decoration: none;
            }
        }
    }
    // styles link icons
    .svg-icon {
        fill: $dark-green;
        scale: 1.5;
        translate: 6px -2px;
        filter: drop-shadow(0px 0px 1px transparent);
    }
    // styles Author - Uriah Schreur
    .p-name {
        color: $dark-green;
    }
    // styles description
    p {
        color: $dark-green;
    }
}