@font-face {
    font-family: 'OCRA';
    src: url('/assets/fonts/OCRA.woff2') format('woff2'),
        url('/assets/fonts/OCRA.woff') format('woff'),
        url('/assets/fonts/OCRA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin OCRA-font {
    font-family: 'OCRA', sans-serif; // Fallback to sans-serif if the custom font fails to load
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; /* For Webkit-based browsers (Chrome, Safari) */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on Mac OS X */
}
