---
layout: default
---

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
    <div class="about-container">
        <div class="flicker-img">
            <img
                src="../unnamed.jpg"
                alt="Potrait of the site author Uriah Schreur"
                class="matrix-image matrix-overlay fade-in-img"
            />
        </div>
        <div id="color-box">
            <div class="post-content">{{ content }}</div>
        </div>
    </div>
</article>
<script type="module" src="../assets/js/terminal-loading-animation/terminalLoadingAnimation.js"></script>