<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    <head>
        {%- include favicon.html -%} {%- include head.html -%}
    </head>
    <body>
        {%- include header.html -%}
        <main
            class="page-content"
            aria-label="Content"
        >
            <div class="wrapper">{{ content }}</div>
        </main>
        {%- include footer.html -%} 
        {%- if site.global_script -%}
        <script
            type="module"
            src="{{ site.global_script | relative_url }}"
        ></script>
            {%- if page.script -%}
            <script
                type="module"
                src="{{ page.script | relative_url }}"
            ></script>
            {%- endif -%} 
        {%- endif -%} 
    </body>
</html>
